/**************************tag selector**************************/
body{
  background-color:#EEE3CB ;
}

hr{
  background-color:#EEE3CB ;
  border-style:dotted none none;
  border-color:#16213E;
  border-width:5px;
  width:30%;
 }


img{
  height:300px ;
  border-radius:100%; 
}

h1{
  background-color:#EEE3CB;
  border-style:none;
  color:#16213E;
}


h2{
  background-color:#EEE3CB;
  border-style:none;
  color:#16213E;
}

/**************************tag class**************************/
.v3{
  color:#16213E;
}
